* {
    font-family: 'Poppins', sans-serif;
    color: rgb(73, 56, 0);
}

.nav-custom {
    color: #6a8ad6!important;
    font-weight: bold;
}

.nav-custom:hover {
    color: #376FED;
    /* font-weight: bold; */
}

.search-custom {
    color: #5c5c5c!important;
    border-radius: 30px;
}

.reg-btn-custom {
    color: #fff!important;
    border-radius: 30px;
    background-color: #f6921f!important;
    border-color: transparent;
}

p {
    font-family: 'Work Sans', sans-serif!important;
}

.cover-custom {
    background-image: url("write1.webp"); 
    background-color: #f6921f; 
    min-height: 400px;
    border-radius: 40px;
    /* border: 3px solid #f6921f; */
    /* color: white!important; */
}